---
const footer = {
  links: [
    {
      name: 'Privacy Policy',
      href: '/privacy',
    },
    {
      name: 'Terms & Conditions',
      href: '/tnc',
    },
    {
      name: 'Disclaimer',
      href: '/disclaimer',
    },
  ],
};
---

<footer
  class="bg-primary-500/10 py-16 dark:bg-primary-400/10 lg:py-20"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div
    class="mx-auto flex max-w-2xl flex-col pb-[80px] sm:px-6 lg:max-w-7xl lg:flex-row lg:justify-between lg:px-8"
  >
    <a
      href="/"
      class="font-logo flex items-center rounded-md pl-5 text-3xl focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 lg:pl-0"
    >
      <img src="/assets/logo1.png" class="motion-preset-slide-up h-[30px]" />
      <img src="/assets/logo2.png" class="motion-preset-slide-left h-[30px] motion-delay-700" />
    </a>
    <div class="flex flex-col justify-end gap-4 pl-3 pt-5 lg:flex-row lg:pl-0 lg:pt-0">
      {
        footer.links.map((e) => {
          return (
            <a
              href={e.href}
              class="flex items-center rounded-sm px-2 hover:bg-primary-800 hover:text-white"
            >
              {e.name}
            </a>
          );
        })
      }
    </div>
  </div>
</footer>
