---
const stats = [
  {
    name: 'Years',
    value: '9',
  },
  {
    name: 'Experts',
    value: '15',
  },
  {
    name: 'Projects',
    value: '122',
  },
  {
    name: 'Awards',
    value: "'9'",
  },
];
---

<section class="pb-16 sm:pb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex items-center flex-col">
      <!-- <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      /> -->
      <div class="flex flex-col gap-10 items-center lg:max-w-[600px]">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">
            Transforming Your Vision into Extraordinary Spaces
          </h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              At Ody Spatial, we believe that exceptional interior design should be accessible to
              everyone.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Our mission is to transform spaces into harmonious environments that reflect our
              clients' unique personalities and lifestyles. With nearly a decade of experience, our
              team combines creativity, functionality, and sustainability to deliver innovative
              design solutions that exceed expectations.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Whether it's a cozy home, dynamic office space, or sophisticated commercial project,
              we're dedicated to creating spaces that inspire and endure.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Our collaborative approach ensures that each project is a perfect blend of your vision
              and our expertise.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
