---
import { getCollection } from 'astro:content';
const works = await getCollection('works');

import type { ImageMetadata } from 'astro';
import WorkItem from '../work/WorkItem.astro';
const images = import.meta.glob<{ default: ImageMetadata }>('/works/**/*.{jpeg,jpg,png}');

---

<section id="our-works" class="mt-[20px] min-h-screen bg-primary-100 py-16 sm:py-20 lg:mt-[100px]">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="flex items-center space-x-5 text-3xl font-medium tracking-tight sm:text-4xl">
        <div>Our Works</div>
        <div class="flex-1 border-2 opacity-50"></div>
      </h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          works.map(({ data: work, id }) => {
            const slug = id.split('/').shift()?.split('.').shift();
            const img_path = Object.keys(images).find((e: string) => {
              return e.startsWith(`/works/${slug}`);
            });
            if (img_path) {
              const img = images[img_path];
              return <WorkItem slug={slug} img={img} work={work} />;
            }
            return null;
          })
        }
      </div>
    </div>
  </div>
</section>
